{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <meta charset="utf-8" />
    {% block stylesheets %}
        {# do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 100) #}
        {% do assets.addCss('theme://css/uikit.min.css', 100) %}
        {% do assets.addCss('theme://css/custom.css', 99) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery',200) %} {# load jquery before other js assets #}
        {% do assets.addJs('theme://js/uikit.min.js', 100) %}
        {% do assets.addJs('theme://js/uikit-icons.min.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        {% block header_navigation %}
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="">
                        <a href="{{ base_url == '' ? '/' : base_url }}" id="logo">
                            <span class="uk-text-lead">Project Name</span>
                            <small>Project Slogan</small>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                {% include 'partials/navigation.html.twig' %}
            </div>
        </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <div class="uk-flex uk-flex-around uk-visible@m">
            <div class="uk-text-center">
                <span class="uk-text-lead">Project Name</span>
                <small>Project Slogan</small>
            </div>
            <div class="uk-text-center">
                <div class="uk-text-lead">
                    <a href="https://www.facebook.com/project-page" uk-icon="icon: facebook" class="uk-link"></a>
                    <a href="https://twitter.com/project" uk-icon="icon: twitter"></a>
                </div>
                <a href="mailto:campaignemail@campaign.com">
                    <span uk-icon="icon: mail"></span> email@project.com
                </a>
            </div>
            <div class="uk-text-center">
                <span class="uk-text-lead">Democratic Primary</span><br>
                <small>Tuesday May 7th, 2019 from 6am to 6pm</small>
                <small><a href="https://indianavoters.in.gov">Get voting information</a></small>
            </div>
        </div>
        <div class="uk-hidden@m">
            <div class="uk-text-center">
                <span class="uk-text-lead">Project Name</span>
                <small style="padding-bottom: 1rem;">Project Slogan</small>

                <span>Vote in the Democratic Primary</span><br>
                <small>Tuesday May 7th, 2019 from 6am to 6pm</small>
                <small style="padding-bottom: 1rem;"><a href="https://www.co.monroe.in.us/department/division.php?structureid=89">Get voting information</a></small>

                <a href="https://www.facebook.com/project-page" uk-icon="icon: facebook" class="uk-link"></a>
                <a href="https://twitter.com/project" uk-icon="icon: twitter"></a>
            </div>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
